{
    "openapi": "3.0.0",
    "info": {
        "title": "Trees API",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://arboraid.co/beta/public"
        },
        {
            "url": "http://localhost:8000"
        }
    ],
    "paths": {
        "/api/signup": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register a new user with referral and send OTP",
                "description": "This endpoint creates a new user with a temporary password, logs referrals, and sends an OTP. user_type : 1-user,2-organization",
                "operationId": "signUp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "mobile_prefix",
                                    "mobile",
                                    "user_type",
                                    "fcm_token"
                                ],
                                "properties": {
                                    "mobile_prefix": {
                                        "description": "Mobile country code prefix",
                                        "type": "string",
                                        "example": "+91"
                                    },
                                    "mobile": {
                                        "description": "User's mobile number",
                                        "type": "string",
                                        "example": "9876543210"
                                    },
                                    "user_type": {
                                        "description": "1- user,2- company",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "fcm_token": {
                                        "description": "fcm_token",
                                        "type": "string",
                                        "example": "GDFDFD86676HKKJGG"
                                    },
                                    "referral_code": {
                                        "description": "Referral code of the referring user (optional)",
                                        "type": "string",
                                        "example": "ABCD1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User successfully registered and OTP sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "OTP sent successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "user_id": {
                                                    "description": "ID of the newly created user",
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid referral code or other input errors"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unable to process the request at this time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/signin": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User Sign In",
                "operationId": "1590601a2f468ce0e53462ada67bcfdc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "mobile"
                                ],
                                "properties": {
                                    "mobile": {
                                        "type": "string",
                                        "example": "1234567890"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "OTP sent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/api/resend-otp": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Resend OTP",
                "operationId": "5034e3809df3c665692b179099da36f3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "mobile"
                                ],
                                "properties": {
                                    "mobile": {
                                        "type": "string",
                                        "example": "1234567890"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "OTP sent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/api/verify-otp": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Verify OTP",
                "operationId": "c4e4be2444463a153f1ca5669741bc89",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "mobile",
                                    "otp"
                                ],
                                "properties": {
                                    "mobile": {
                                        "type": "string",
                                        "example": "1234567890"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP verified successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "your_token_here"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid OTP"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout user and invalidate token",
                "operationId": "ad65cbbd4e9f201619eae184a5961a98",
                "responses": {
                    "200": {
                        "description": "User logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successfully logged out."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token missing or invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/update-fcm-token": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Update FCM token for authenticated user",
                "operationId": "afad6413ff186e4480d51495fd6ad104",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "fcm_token"
                                ],
                                "properties": {
                                    "fcm_token": {
                                        "type": "string",
                                        "example": "NEW_FCM_TOKEN_123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "FCM token updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "FCM token updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        
        "/api/deactivate-account": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Deactivate authenticated user's account",
                "operationId": "f526b3d3cae7a5320053a50c4ad72b17",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "No longer interested"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Account deactivated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Account deactivated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        
        "/api/app-config": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get app configuration",
                "operationId": "f17e54ea9568239eb6b00d4b076c74e8",
                "responses": {
                    "200": {
                        "description": "App config fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "properties": {
                                                "is_guest_login": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/reactivate-account": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Reactivate user account",
                "operationId": "2abaa7eadf301dc1b9109d13c9149b84",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "mobile"
                                ],
                                "properties": {
                                    "mobile": {
                                        "type": "string",
                                        "example": "1234567890"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Account reactivated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Your account has been reactivated successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "400": {
                        "description": "Account is already active"
                    }
                }
            }
        },
        "/api/blogs": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Get a list of blogs",
                "operationId": "393feb67e712ffe8052c83b54689ceb0",
                "responses": {
                    "200": {
                        "description": "A list of blogs",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/api/blog/{id}": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Get a blog by ID",
                "operationId": "92fdf5c0182582715d2439ee4f758be6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "blog details",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Blog not found"
                    }
                }
            }
        },
        "/api/sliders": {
            "get": {
                "tags": [
                    "Slider"
                ],
                "summary": "Get a list of sliders",
                "operationId": "eff93414b8482758ab2bcaeb4c3c5566",
                "responses": {
                    "200": {
                        "description": "A list of sliders",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/api/about-app": {
            "get": {
                "tags": [
                    "CMS"
                ],
                "summary": "Get About App content",
                "operationId": "30dfaf968e6733eb902d9377756e2521",
                "responses": {
                    "200": {
                        "description": "CMS content details",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "CMS page not found"
                    }
                }
            }
        },
        "/api/privacy-policy": {
            "get": {
                "tags": [
                    "CMS"
                ],
                "summary": "Get Privacy Policy content",
                "operationId": "b7f27cb79141961588b037b054f83a77",
                "responses": {
                    "200": {
                        "description": "CMS content details",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "CMS page not found"
                    }
                }
            }
        },
        "/api/terms-of-use": {
            "get": {
                "tags": [
                    "CMS"
                ],
                "summary": "Get Terms of Use content",
                "operationId": "609656873da5639acfc70ca454a9aadb",
                "responses": {
                    "200": {
                        "description": "CMS content details",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "CMS page not found"
                    }
                }
            }
        },
        "/api/quick-start": {
            "get": {
                "tags": [
                    "CMS"
                ],
                "summary": "Get Quick Start content",
                "operationId": "712c95c61a4f1b1ad91e5cda7bfaeba1",
                "responses": {
                    "200": {
                        "description": "CMS content details",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "CMS page not found"
                    }
                }
            }
        },
        "/api/cart/add/{productId}": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Add a product to the cart",
                "description": "Adds a product to the user's cart, or updates the quantity if it already exists.",
                "operationId": "ad44413ab4b45985b66aca077e72c0c3",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "ID of the product to add",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "quantity",
                                    "type",
                                    "product_type",
                                    "duration",
                                    "location_id"
                                ],
                                "properties": {
                                    "quantity": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "type": {
                                        "type": "integer",
                                        "example": "1-sponsor,2-adopt,3-adopt renewal"
                                    },
                                    "product_type": {
                                        "type": "integer",
                                        "example": "1-tree,2-ecommerce"
                                    },
                                    "duration": {
                                        "description": "Duration in years (1, 2, 3) or other units depending on your business logic",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Harish Mogilipuri"
                                    },
                                    "occasion": {
                                        "type": "string",
                                        "example": "Birthday"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "Happy Birthday!"
                                    },
                                    "location_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "cart_type": {
                                        "type": "integer",
                                        "example": "1 - cart, 2 - direct payment"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Product added to cart",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Product not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/cart": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "View cart items",
                "description": "Retrieves the items in the user's cart.",
                "operationId": "f04320157a67c6aee3f0844a843cae22",
                "responses": {
                    "200": {
                        "description": "Successful retrieval of cart items",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/cart/remove/{cartId}": {
            "delete": {
                "tags": [
                    "Cart"
                ],
                "summary": "Remove a product from the cart",
                "description": "Removes a product from the user's cart.",
                "operationId": "6a359495ae5e49b2a1f1a8a172b9a268",
                "parameters": [
                    {
                        "name": "cartId",
                        "in": "path",
                        "description": "ID of the cart item to remove",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product removed from cart",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Cart item not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/cart/clear": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Clear all products from the cart",
                "description": "Clear all products from the user's cart.",
                "operationId": "acd46a03a63b34361f4988b9ef32232d",
                "responses": {
                    "200": {
                        "description": "Product removed from cart",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Cart not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/cart/addDetails/{cartId}": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Details added",
                "description": "Adds a product to the user's cart, or updates the quantity if it already exists.",
                "operationId": "d0cb731c62a715edf0458f884a3b943f",
                "parameters": [
                    {
                        "name": "cartId",
                        "in": "path",
                        "description": "ID of the product to add",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "occasion",
                                    "message"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Harish Mogilipuri"
                                    },
                                    "occasion": {
                                        "type": "string",
                                        "example": "Birthday"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "Happy Birthday!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Details added to product",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Product not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/cart/apply-coupon-all": {
            "post": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Apply a coupon to all cart items of a user with product_type = 2",
                "operationId": "ae94f659f907b9c0ba7b97526f87e623",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "coupon_code"
                                ],
                                "properties": {
                                    "coupon_code": {
                                        "description": "The coupon code to apply to all cart items.",
                                        "type": "string",
                                        "example": "SAVE20"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Coupon applied successfully to all cart items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user_id": {
                                            "type": "integer",
                                            "example": 123
                                        },
                                        "coupon_code": {
                                            "type": "string",
                                            "example": "SAVE20"
                                        },
                                        "total_discount_amount": {
                                            "type": "number",
                                            "example": 50
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid coupon or no applicable cart items found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid or expired coupon"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "User not authenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User not found or not authenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A coupon is already applied to one or more cart items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "A coupon is already applied to one or more cart items. Remove it before adding a new one."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/feed-tree/{campaignId}/donation/initiate": {
            "post": {
                "tags": [
                    "Donations"
                ],
                "summary": "Initiate donation payment via Razorpay",
                "operationId": "3c3f00c60cbe691bfaea5859c1e44071",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "description": "Campaign ID for the donation",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "amount"
                                ],
                                "properties": {
                                    "amount": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 500
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment order successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "order_id": {
                                            "type": "string",
                                            "example": "order_DjzPzU1A6Xjjtb"
                                        },
                                        "amount": {
                                            "type": "integer",
                                            "example": 50000
                                        },
                                        "currency": {
                                            "type": "string",
                                            "example": "INR"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters"
                    },
                    "404": {
                        "description": "Campaign not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/feed-tree/donation-payment/callback": {
            "post": {
                "tags": [
                    "Donations"
                ],
                "summary": "Payment callback for verifying Razorpay payment",
                "operationId": "28aca25cbc8c5624d344b90125a7b595",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "razorpay_order_id",
                                    "razorpay_payment_id",
                                    "razorpay_signature",
                                    "donation_order_id"
                                ],
                                "properties": {
                                    "donation_order_id": {
                                        "type": "string",
                                        "example": "DONOR2412180005"
                                    },
                                    "razorpay_order_id": {
                                        "type": "string",
                                        "example": "order_DjzPzU1A6Xjjtb"
                                    },
                                    "razorpay_payment_id": {
                                        "type": "string",
                                        "example": "pay_CpXjmfXZ8FgopV"
                                    },
                                    "razorpay_signature": {
                                        "type": "string",
                                        "example": "9d8b8a7d57d897a09ff3bfa6be82840bbd597f9834cb649b8f7a64b42a9cf70b5"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Donation successfully processed and payment verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Donation successfully processed and verified."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid payment verification or missing data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/my-donations": {
            "get": {
                "tags": [
                    "Donations"
                ],
                "summary": "Get a list of donations made by the authenticated user",
                "operationId": "7fb8f2c3676439827356ba1f604ac258",
                "responses": {
                    "200": {
                        "description": "List of user donations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "campaign_id": {
                                                "type": "integer",
                                                "example": 2
                                            },
                                            "campaign_name": {
                                                "type": "string",
                                                "example": "Save the Forests"
                                            },
                                            "donor_name": {
                                                "type": "string",
                                                "example": "John Doe"
                                            },
                                            "amount": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 500
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2024-12-18T12:34:56Z"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized access"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/faqs": {
            "get": {
                "tags": [
                    "FAQ"
                ],
                "summary": "Get a list of all FAQs",
                "operationId": "c5049b56b2bbb1927ec18c0563a02250",
                "responses": {
                    "200": {
                        "description": "List of FAQs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "question": {
                                                "type": "string"
                                            },
                                            "answer": {
                                                "type": "string"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No FAQs found"
                    }
                }
            }
        },
        "/api/feed-trees": {
            "get": {
                "tags": [
                    "Feed Trees"
                ],
                "summary": "Get a list of feed trees",
                "operationId": "2cdf0476cf12ef53ef0e1888673464eb",
                "responses": {
                    "200": {
                        "description": "A list of feed trees",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/feed-tree/{id}": {
            "get": {
                "tags": [
                    "Feed Trees"
                ],
                "summary": "Get a tree by ID",
                "operationId": "1d92c1d92970b00377113dce8ec83254",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the campaign",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Campaign details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "campaign_id": {
                                            "type": "integer"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "raised_amount": {
                                            "type": "number",
                                            "format": "float"
                                        },
                                        "pending_amount": {
                                            "type": "number",
                                            "format": "float"
                                        },
                                        "target_amount": {
                                            "type": "number",
                                            "format": "float"
                                        },
                                        "donors": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "donor_name": {
                                                        "type": "string"
                                                    },
                                                    "amount": {
                                                        "type": "number",
                                                        "format": "float"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Campaign not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/states": {
            "get": {
                "tags": [
                    "Locations"
                ],
                "summary": "Get all states",
                "description": "Get all states.",
                "operationId": "5fc86bab8dab71984fff49d11545aff6",
                "responses": {
                    "200": {
                        "description": "List of states"
                    },
                    "404": {
                        "description": "States not found"
                    }
                }
            }
        },
        "/api/cities/{state_id}": {
            "get": {
                "tags": [
                    "Locations"
                ],
                "summary": "Get cities by state ID",
                "description": "Get cities by state ID.",
                "operationId": "342b1da03876d6d45cad706895c7cf31",
                "parameters": [
                    {
                        "name": "state_id",
                        "in": "path",
                        "description": "ID of the state",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of cities"
                    },
                    "404": {
                        "description": "Cities not found"
                    }
                }
            }
        },
        "/api/areas/{city_id}": {
            "get": {
                "tags": [
                    "Locations"
                ],
                "summary": "Get areas by city ID",
                "description": "Get areas by city ID.",
                "operationId": "c7777cd352d2c5238a13a079ddacd076",
                "parameters": [
                    {
                        "name": "city_id",
                        "in": "path",
                        "description": "ID of the city",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of areas"
                    },
                    "404": {
                        "description": "Areas not found"
                    }
                }
            }
        },
        "/api/tree-locations": {
            "get": {
                "tags": [
                    "Locations"
                ],
                "summary": "Get tree locations",
                "description": "Get tree locations.",
                "operationId": "e908228d27830d81054a90b794e1ec97",
                "responses": {
                    "200": {
                        "description": "List of tree locations"
                    },
                    "404": {
                        "description": "Tree locations not found"
                    }
                }
            }
        },
        "/api/tree-locations/states": {
            "get": {
                "tags": [
                    "Locations"
                ],
                "summary": "Get Tree Available states",
                "description": "Get Tree Available states.",
                "operationId": "0afb6748622c7831b139439d0a86e09f",
                "responses": {
                    "200": {
                        "description": "List of states"
                    },
                    "404": {
                        "description": "States not found"
                    }
                }
            }
        },
        "/api/tree-locations/states/{stateId}/areas": {
            "get": {
                "tags": [
                    "Locations"
                ],
                "summary": "Get areas of a state",
                "description": "Get areas for a state.",
                "operationId": "bd97014ef266128e17d0b759ab93e117",
                "parameters": [
                    {
                        "name": "stateId",
                        "in": "path",
                        "description": "State ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of areas in the state"
                    },
                    "404": {
                        "description": "Areas not found"
                    }
                }
            }
        },
        "/api/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get notifications for a user",
                "operationId": "5136df02a15d24894091df1c403b5322",
                "responses": {
                    "200": {
                        "description": "Notifications retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found or no notifications"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/checkout": {
            "post": {
                "tags": [
                    "Payment"
                ],
                "summary": "Create a Razorpay Order",
                "description": "Creates an order in Razorpay based on the user's cart.",
                "operationId": "0de470f9539cb1e166081e93ce0672b6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "currency",
                                    "type",
                                    "cart_type",
                                    "product_type"
                                ],
                                "properties": {
                                    "currency": {
                                        "type": "string",
                                        "example": "INR"
                                    },
                                    "type": {
                                        "type": "integer",
                                        "example": "1-sponsor,2-adopt,3-adopt renewal"
                                    },
                                    "product_type": {
                                        "type": "integer",
                                        "example": "1-tree,2-Ecommerce"
                                    },
                                    "cart_type": {
                                        "type": "integer",
                                        "example": "1 - cart, 2 - direct payment"
                                    },
                                    "shipping_address_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Order created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "order_id": {
                                            "type": "string",
                                            "example": "order_id_example"
                                        },
                                        "amount": {
                                            "type": "integer",
                                            "example": 1000
                                        },
                                        "currency": {
                                            "type": "string",
                                            "example": "INR"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/payment/callback": {
            "post": {
                "tags": [
                    "Payment"
                ],
                "summary": "Payment Callback",
                "description": "Handles the payment callback from Razorpay.",
                "operationId": "c33e1bba0f44f5b107e06a8949e47f6b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "razorpay_order_id",
                                    "razorpay_payment_id",
                                    "razorpay_signature",
                                    "type"
                                ],
                                "properties": {
                                    "razorpay_order_id": {
                                        "type": "string"
                                    },
                                    "razorpay_payment_id": {
                                        "type": "string"
                                    },
                                    "razorpay_signature": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "integer",
                                        "example": "1-sponsor,2-adopt,3-adopt renewal,4-ecommerce"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment verified successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payment successful!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Payment verification failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payment verification failed!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/orders": {
            "get": {
                "tags": [
                    "My Orders"
                ],
                "summary": "Get a list of orders",
                "operationId": "debf58326856bf610a1a46c6db8a30cf",
                "parameters": [
                    {
                        "name": "product_type",
                        "in": "query",
                        "description": "Filter orders based on product type",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of orders",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "No orders found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/order/{id}": {
            "get": {
                "tags": [
                    "My Orders"
                ],
                "summary": "Get a Order by ID",
                "operationId": "bde213b6157de74a82908242932a76d3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order details",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/apply-coupon": {
            "post": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Apply a coupon to an order",
                "operationId": "b74a2810d511e28ad9a50137f8b152db",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "order_id",
                                    "coupon_code"
                                ],
                                "properties": {
                                    "order_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "coupon_code": {
                                        "type": "string",
                                        "example": "DISCOUNT10"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Coupon applied successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "order_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "discount_amount": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 50
                                        },
                                        "new_total": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 450
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid coupon or expired"
                    },
                    "404": {
                        "description": "Order not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/remove-coupon": {
            "post": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Remove applied coupon from an order",
                "operationId": "45a72821bb550ba0a4d7715e02d92a40",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "order_id"
                                ],
                                "properties": {
                                    "order_id": {
                                        "description": "The ID of the order from which the coupon should be removed",
                                        "type": "integer",
                                        "example": 123
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Coupon removed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "order_id": {
                                            "type": "integer",
                                            "example": 123
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Coupon removed successfully"
                                        },
                                        "total_amount": {
                                            "type": "number",
                                            "example": 950
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No coupon applied to this order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "No coupon applied to this order."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Order not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/order/{order}/update-shipping-address": {
            "put": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Update shipping address for an order",
                "operationId": "9c4a98d7b322087ca879cb75f22f1bd8",
                "parameters": [
                    {
                        "name": "order",
                        "in": "path",
                        "description": "Order ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "shipping_address_id"
                                ],
                                "properties": {
                                    "shipping_address_id": {
                                        "type": "integer",
                                        "example": 5
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Address updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "No order found to update"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/products": {
            "get": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Get a list of products with filters, sorting, search, and pagination",
                "operationId": "d97d1c3727cbac49708b85f7d11f7d58",
                "parameters": [
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "price_asc",
                                "price_desc",
                                "newest",
                                "oldest",
                                "top_rated"
                            ]
                        }
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product list",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "No products found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/product/{id}": {
            "get": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Get details of a single product",
                "operationId": "3a462c6271dfd581c8c589efd97cbde4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product details",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Product not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/product/{id}/ratings": {
            "get": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Get ratings and review statistics for a product",
                "operationId": "a2ab16fa6dd070fb1061f51f14544fb0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rating statistics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Product not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/product/{id}/reviews": {
            "get": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Get paginated list of reviews for a product",
                "operationId": "f772f318952101b4b513a33da30915ae",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of reviews",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Product not found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Update a review for a product",
                "operationId": "2a4e27108195f9d1724389ce6e879e32",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "rating",
                                    "review"
                                ],
                                "properties": {
                                    "rating": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "review": {
                                        "type": "string",
                                        "example": "Great product!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Review updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "No review found to update"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Write a review for a product",
                "operationId": "cbebdd7993031d595887a97a920ee265",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "rating",
                                    "review"
                                ],
                                "properties": {
                                    "rating": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "review": {
                                        "type": "string",
                                        "example": "Great product!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Review added successfully",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Product not found or user hasn't purchased this product"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Get a list of active categories",
                "operationId": "80940d506299c0a0c88eaaf94cb70443",
                "responses": {
                    "200": {
                        "description": "Categories list",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "No categories found"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/api/product/{id}/can-review": {
            "get": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Check if the user can write a review for a product",
                "operationId": "889b341d0a9be82492b7c51be5d6fe22",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User is eligible to write a review",
                        "content": {
[...]
